.keebooStickerClass{border-width:1px;border-color:black;border-style:solid;padding:5px;font-family:'Verdana','Arial';font-size:13px;font-weight:bold;color:black}
.keebooStickerClassNS{padding:0px;}
.keebooStickerClassNSText{padding:5px;font-family:'Verdana','Arial';font-size:13px;font-weight:bold;;color:black}
